<%- include('partials/dashboardhead') %>
<main class="md:max-w-7xl md:ml-64 md:px-2">
  <main class="space-y-10">
    <section id="markets" class="section pt-8 mt-12">
      <h1 class="text-lg md:text-xl text-center md:text-start font-semibold mb-2">Markets</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Market Cards -->
        <div class="bg-gray-800 p-4 rounded-xl shadow">
          <div class="tradingview-widget-container h-72">
            <iframe src="https://s.tradingview.com/embed-widget/symbol-overview/?symbols=COMEX%3AGC1!" frameborder="0"
              class="w-full h-52"></iframe>
          </div>
          <button class="mt-4 w-full bg-blue-500 py-2 rounded text-white">View</button>
        </div>
        <div class="bg-gray-800 p-4 rounded-xl shadow">
          <div class="tradingview-widget-container h-72">
            <iframe src="https://s.tradingview.com/embed-widget/symbol-overview/?symbols=COMEX%3ASI1!" frameborder="0"
              class="w-full h-52"></iframe>
          </div>
          <button class="mt-4 w-full bg-blue-500 py-2 rounded text-white">View</button>
        </div>
        <div class="bg-gray-800 p-4 rounded-xl shadow">
          <div class="tradingview-widget-container h-72">
            <iframe src="https://s.tradingview.com/embed-widget/symbol-overview/?symbols=NYMEX%3ACL1!" frameborder="0"
              class="w-full h-52"></iframe>
          </div>
          <button class="mt-4 w-full bg-blue-500 py-2 rounded text-white">View</button>
        </div>
        <div class="bg-gray-800 p-4 rounded-xl shadow">
          <div class="tradingview-widget-container h-72">
            <iframe src="https://s.tradingview.com/embed-widget/symbol-overview/?symbols=COMEX%3AAH1!" frameborder="0"
              class="w-full h-52"></iframe>
          </div>
          <button class="mt-4 w-full bg-blue-500 py-2 rounded text-white">View</button>
        </div>
        <div class="bg-gray-800 p-4 rounded-xl shadow">
          <div class="tradingview-widget-container h-72">
            <iframe src="https://s.tradingview.com/embed-widget/symbol-overview/?symbols=ICEUS%3ACC1!" frameborder="0"
              class="w-full h-52"></iframe>
          </div>
          <button class="mt-4 w-full bg-blue-500 py-2 rounded text-white">View</button>
        </div>
        <div class="bg-gray-800 p-4 rounded-xl shadow">
          <div class="tradingview-widget-container h-72">
            <iframe src="https://s.tradingview.com/embed-widget/symbol-overview/?symbols=NYMEX%3ARB1!" frameborder="0"
              class="w-full h-52"></iframe>
          </div>
          <button class="mt-4 w-full bg-blue-500 py-2 rounded text-white">View</button>
        </div>
        <div class="bg-gray-800 p-4 rounded-xl shadow">
          <div class="tradingview-widget-container h-72">
            <iframe src="https://s.tradingview.com/embed-widget/symbol-overview/?symbols=COINBASE%3ABTCUSD"
              frameborder="0" class="w-full h-52"></iframe>
          </div>
          <button class="mt-4 w-full bg-blue-500 py-2 rounded text-white">View</button>
        </div>
        <div class="bg-gray-800 p-4 rounded-xl shadow">
          <div class="tradingview-widget-container h-72">
            <iframe src="https://s.tradingview.com/embed-widget/symbol-overview/?symbols=COINBASE%3AETHUSD"
              frameborder="0" class="w-full h-52"></iframe>
          </div>
          <button class="mt-4 w-full bg-blue-500 py-2 rounded text-white">View</button>
        </div>
        <div class="bg-gray-800 p-4 rounded-xl shadow">
          <div class="tradingview-widget-container h-72">
            <iframe src="https://s.tradingview.com/embed-widget/symbol-overview/?symbols=BINANCE%3ASOLUSDT"
              frameborder="0" class="w-full h-52"></iframe>
          </div>
          <button class="mt-4 w-full bg-blue-500 py-2 rounded text-white">View</button>
        </div>
        <div class="bg-gray-800 p-4 rounded-xl shadow">
          <div class="tradingview-widget-container h-72">
            <iframe src="https://s.tradingview.com/embed-widget/symbol-overview/?symbols=NYMEX%3ANG1!" frameborder="0"
              class="w-full h-52"></iframe>
          </div>
          <button class="mt-4 w-full bg-blue-500 py-2 rounded text-white">View</button>
        </div>
        <div class="bg-gray-800 p-4 rounded-xl shadow">
          <div class="tradingview-widget-container h-72">
            <iframe src="https://s.tradingview.com/embed-widget/symbol-overview/?symbols=ICEUS%3ASB1!" frameborder="0"
              class="w-full h-52"></iframe>
          </div>
          <button class="mt-4 w-full bg-blue-500 py-2 rounded text-white">View</button>
        </div>
        <div class="bg-gray-800 p-4 rounded-xl shadow">
          <div class="tradingview-widget-container h-72">
            <iframe src="https://s.tradingview.com/embed-widget/symbol-overview/?symbols=ICEUS%3ACT1!" frameborder="0"
              class="w-full h-52"></iframe>
          </div>
          <button class="mt-4 w-full bg-blue-500 py-2 rounded text-white">View</button>
        </div>
      </div>
    </section>
  </main>
</main>
<script src="/js/userdashboard.js"></script>
<%- include('partials/footer') %>

