<!DOCTYPE html>
<html lang="en" class="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trading Dashboard</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- <link rel="stylesheet" href="/css/style.css"> -->
  <script>
    tailwind.config = {
      darkMode: 'class'
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body class="bg-gray-900 text-white dark:text-white">
  <div class="flex min-h-screen">
    <!-- Sidebar -->
    <aside id="sidebar"
      class="w-64 mt-16 bg-gray-800 z-50 fixed h-full dark:bg-gray-900 hidden md:block transition-transform duration-300 ease-in-out">
      <div class="p-4 text-xl font-bold">TradePro</div>
      <nav class="space-y-2 px-4">
        <a href="/" class="block py-2 px-3 rounded hover:bg-gray-700">Dashboard</a>
        <a href="/markets" class="block py-2 px-3 rounded hover:bg-gray-700">Markets</a>
        <a href="/deposit" class="block w-full text-left py-2 px-3 hover:bg-gray-700 rounded">Deposit</a>
        <a href="/withdrawals" class="block w-full text-left py-2 px-3 hover:bg-gray-700 rounded">Withdrawal</a>
        <a href="/trade" class="block py-2 px-3 rounded hover:bg-gray-700">Trade</a>
        <a href="/trades" class="block py-2 px-3 rounded hover:bg-gray-700">Trades</a>
        <a href="/tradeshistory" class="block py-2 px-3 rounded hover:bg-gray-700">Completed Trades</a>
        <a href="/wallets" class="block w-full text-left py-2 px-3 hover:bg-gray-700 rounded">Wallets</a>
        <a href="/analytics" class="block py-2 px-3 rounded hover:bg-gray-700">Analytics</a>
        <a href="/transactions" class="block w-full text-left py-2 px-3 hover:bg-gray-700 rounded">Transactions</a>
        <a href="/settings" class="block py-2 px-3 rounded hover:bg-gray-700">Settings</a>
        <!-- <a href="/support" class="block py-2 px-3 rounded hover:bg-gray-700">Support</a> -->
      </nav>
    </aside>

    <!-- Main Content -->
    <div class="flex-1 flex flex-col">
      <!-- Topbar -->
      <header
        class="flex fixed top-0 z-50 items-center w-full m-0 justify-between gap-2 p-4 bg-gray-800 dark:bg-gray-900 shadow">
        <div class="flex dashlogo">
          <a href="/" class="flex items-center gap-2">
            <img src="https://placehold.co/40x40/fff/3B82F6?text=AM" alt="Apex Meridian Logo"
              class="h-10 w-10 rounded-full object-cover shadow-xl border-blue-500 border" />
            <h2 class="text-xs md:text-2xl  font-semibold">Apex Meridian</h2>
          </a>
        </div>
        <div class="flex items-center space-x-8">
          <button id="toggleTheme" class="p-2 rounded bg-blue-500 text-white">Dark</button>
          <img src="https://placehold.co/40x40/fff/3B82F6?text=user" alt="User Avatar" class="w-10 h-10 rounded-full">
          <button id="toggleSidebar" class="md:hidden text-white">☰</button>
        </div>
      </header>